
<div class="categories">
	<% @categories.each do | category | %>
		<div class="category">
			<p class="id"><%=category.id %></p>
			<p class="name"><%=category.name %></p>
			<p class="name"><%=category.parent_id %></p>
			</div>
	<% end %>
</div>
