
	<main role="main">
		<div class="wrapper">
			<div class="breadcrumb">

				<nav class="breadcrumbs">
					<ul>
						<li>
							<a href="/ru_ru/index.html">HM.com</a>
						</li>

						<li>
							<a href="/ru_ru/customer-service.html" title="Служба поддержки покупателей">Служба поддержки покупателей</a>
						</li>
						<li>Доставка</li>
					</ul>
				</nav>
			</div>

			<div class="row">
				<div class="grid col-3">
					<div class="left parsys iparsys">
						<div class="section">
							<div class="new"></div>
						</div>
						<div class="iparys_inherited">
							<div class="left parsys iparsys">
								<div class="leftcustomerservice parbase section">
									<nav class="section-menu customerservice ">
										<!-- Section menu -->
										<ul>
											<li>
												<h2>
													<a href="/ru_ru/customer-service.html">Служба поддержки покупателей</a>
												</h2>
												<div class="section-menu-sub-menu">
													<div class="section-menu-sub-menu-inner">
														<div class="section-menu-categories">

															<div class="section-menu-category sub ">
																<a href="/ru_ru/customer-service/shopping-at-hm.html">Покупки в H&amp;M</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/payments-info.html">Оплата</a>
																<ul></ul>
															</div>

															<div class="section-menu-category current">
																<a href="/ru_ru/customer-service/shippinganddelivery.html">Доставка</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/returns.html">Возврат</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/download-app.html">Скачать приложение</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/transportation-restrictions.html">Ограничения по транспортировке</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/h-m-search-guide.html">
																	Руководство по использованию функции «поиск по сайту H&amp;M»
																</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/gift-cards.html">Подарочные карты</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/sizeguide.html">Таблицы размеров</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/product-and-quality.html">Уход за одеждой и качество</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/sustainability.html">Экологическая и социальная ответственность</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/legal-and-privacy.html">Юридическая информация и политика конфиденциальности</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/contact.html">Контакты</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/company-info.html">Информация о компании</a>
																<ul></ul>
															</div>

														</div>
													</div>
												</div>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="grid col-6">
					<article class="article-contents">
						<div class="parsys main">
							<div class="parbase section text">

								<h2>Доставка</h2>
								<p>
                  <%=image_tag("delivery_40.jpg" , width:"40" , height:"40" , align:"right" , alt:"FAQ icon" , title:"FAQ icon" , class:"customer-service-header-icon" )%>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
							</div>
							<div class="heading parbase section text">
								<h2 class="">FAQ</h2>
							</div>
							<div class="parbase faq section">

								<div class="toggle-list-item">
									<h3 class="toggle-list-headline slide-down-toggle" data-tracking-type="event" data-tracking-method="link" data-tracking-json-template="utagLinkFAQ" data-tracking-params="CLICK_FAQ|Click on FAQ|Click on FAQ">
										<span>Как  проверить статус доставки моего заказа?</span>
									</h3>
									<div class="toggle-list-content article-contents slide-down" style="">
										<p></p>
										<p>
											Как только мы приступим к упаковке вашего заказа, мы отправим вам сообщение по электронной почте с информацией о доставке и ссылку на сайт для проверки статуса заказа онлайн.
										</p>
										<p>
											Вы также можете проверить статус заказа на сайте в разделе Мои покупки. Для этого необходимо зарегистрироваться в разделе
											<a adhocenable="false" href="https://www2.hm.com/ru_ru/login">Мой H&amp;M</a>
											.
										</p>
										<p></p>
									</div>
								</div>

							</div>
							<div class="parbase faq section">

								<div class="toggle-list-item">
									<h3 class="toggle-list-headline slide-down-toggle" data-tracking-type="event" data-tracking-method="link" data-tracking-json-template="utagLinkFAQ" data-tracking-params="CLICK_FAQ|Click on FAQ|Click on FAQ">
										<span>Куда мы доставляем заказы?</span>
									</h3>
									<div class="toggle-list-content article-contents slide-down" style="">
										<p></p>
										<p>
											Товары, заказанные в России, доставляются покупателям от 18 лет и старше, с адресом доставки в России. В связи с неблагоприятными погодными условиями в некоторых регионах, доставка в данные регионы может быть ограничена в определенные периоды времени в течение года. Для получения информации о доставке в Вашем регионе, пожалуйста, свяжитесь с местным офисом Почты России или с курьерской службой SPSR express по телефону 8 800 700 36 30.
										</p>
										<p>
											В отношении определенных товаров действуют ограничения по транспортировке, поэтому такие товары не доставляются в некоторые регионы. Читайте подробнее
											<a adhocenable="false" href="/ru_ru/customer-service/transportation-restrictions.html">здесь</a>
											.
										</p>
										<p></p>
									</div>
								</div>

							</div>
							<div class="parbase faq section">

								<div class="toggle-list-item">
									<h3 class="toggle-list-headline slide-down-toggle" data-tracking-type="event" data-tracking-method="link" data-tracking-json-template="utagLinkFAQ" data-tracking-params="CLICK_FAQ|Click on FAQ|Click on FAQ">
										<span>Стоимость доставки заказа</span>
									</h3>
									<div class="toggle-list-content article-contents slide-down" style="">
										<p></p>
										<p>
											Стоимость доставки заказа зависит от типа доставки. Доставка на дом курьером составляет 199 Руб., доставка в отделение Почты России - 99 Руб.
										</p>
										<p></p>
									</div>
								</div>

							</div>
							<div class="parbase faq section">

								<div class="toggle-list-item">
									<h3 class="toggle-list-headline slide-down-toggle" data-tracking-type="event" data-tracking-method="link" data-tracking-json-template="utagLinkFAQ" data-tracking-params="CLICK_FAQ|Click on FAQ|Click on FAQ">
										<span>Какой срок занимает доставка?</span>
									</h3>
									<div class="toggle-list-content article-contents slide-down">
										<p></p>
										<p style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12px;">
											Пожалуйста, ознакомьтесь с сроками ожидания доставки заказа:
											<br>
											<br> <b>Доставка курьером</b>
											<br>
											<br> <b>Зона 1 (2-3 рабочих дня)</b>
											<br>
											Московская область, Ленинградская область, Брянская область, Владимирская область, Вологодская область, Воронежская область, Ивановская область, Костромская область, Курская область, Липецкая область, Нижегородская область, Орловская область, Ростовская область, Рязанская область, Тверская область, Тульская область, Чувашская Республика, Ярославская область
											<br>
											<br>
											<b>Зона 2 (2-4 рабочих дня)</b>
											<br>
											Алтайский край, Астраханская область, Белгородская область, Иркутская область, Кабардино-Балкарская Республика, Калужская область, Кемеровская область, Кемеровская область, Кировская область, Краснодарский край, Краснодарский край, Курганская область, Мурманская область, Новосибирская область, Омская область, Оренбургская область, Пензенская область, Приморский край, Псковская область, Республика Башкортостан, Республика Дагестан, Республика Коми, Республика Марий Эл, Республика Мордовия, Республика Северная Осетия — Алания, Республика Татарстан, Самарская область, Саратовская область, Свердловская область, Смоленская область, Ставропольский край, Тамбовская область, Томская область, Тюменская область, Удмуртская Республика, Ульяновская область, Челябинская область
											<br>
											<br>
											<b>Зона 3 (2-5 рабочих дней)</b>
											<br>
											Архангельская область, Волгоградская область, Калининградская область, Красноярский край, Пермский край, Республика Адыгея, Республика Бурятия, Республика Калмыкия, Республика Карелия, Сахалинская область, Сургутский район (Югра), Хабаровский край, Ханты-Мансийский автономный округ — Югра, Ямало-Ненецкий автономный округ
											<br>
											<br>
											<b>Зона 4 (3-6 рабочих дней)</b>
											<br>
											Амурская область, Забайкальский край, Магаданская область, Республика Алтай, Республика Ингушетия, Республика Саха (Якутия), Республика Тыва, Республика Хакасия
											<br>
											<br>
											<b>Зона 5 (4-9 рабочих дней)</b>
											<br>
											Еврейская автономная область, Камчатский край, Карачаево-Черкесская Республика, Ненецкий автономный округ, Чеченская Республика, Чукотский автономный округ
										</p>
										<p style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12px;">
											<b>Почта России</b>
											<br>
											<br>
											<b>Зона 1 (4-6 дней)</b>
											<br>
											Вологодская область, Архангельская область, Белгородская область, Брянская область, Владимирская область, Воронежская область, Ивановская область, Калужская область, Кировская область, Костромская область, Курская область, Ленинградская область, Московская область, Нарьян-Мар, Нижегородская область, Орловская область, Пермский край, Республика Коми, Рязанская область, Свердловская область, Тамбовская область, Тверская область, Тульская область, Ярославская область
											<br>
											<br>
											<b>Зона 2 (7-9 дней)</b>
											<br>
											Республика Марий Эл, Вологодская область, Астраханская область, Калининградская область, Красноярский край, Курганская область, Липецкая область, Магаданская область, Новгородская область, Новосибирская область, Омская область, Оренбургская область, Пензенская область, Псковская область, Республика Башкортостан, Республика Карелия, Республика Мордовия, Республика Татарстан, Самарская область, Саратовская область, Смоленская область, Ставропольский край, Томская область, Тюменская область, Удмуртская Республика, Ульяновская область, Ханты-Мансийский автономный округ — Югра, Челябинская область, Чувашская Республика, Чукотский автономный округ, Ямало-Ненецкий автономный округ
											<br>
											<br>
											<b>Зона 3 (10-15 дней)</b>
											<br>
											Алтайский край, Республика Северная Осетия — Алания, Иркутская область, Республика Дагестан, Мурманская область, Кабардино-Балкарская Республика, Ростовская область, Республика Хакасия, Кемеровская область, Краснодарский край, Республика Адыгея, Республика Бурятия, Карачаево-Черкесская Республика, Забайкальский край, Республика Алтай, Чеченская Республика, Республика Ингушетия, Еврейская автономная область, Республика Тыва, Хабаровский край, Республика Калмыкия, Приморский край, Амурская область
										</p>
										<table cellspacing="0" cellpadding="0" border="0" style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12px; width: 60%;">
											<tbody>
												<tr>
													<td style="text-align: left;">Сахалинская область</td>
													<td style="text-align: left;">Максимум 19 дней</td>
												</tr>
												<tr>
													<td style="text-align: left;">Республика Саха (Якутия)</td>
													<td style="text-align: left;">Максимум 21 день</td>
												</tr>
												<tr>
													<td style="text-align: left;">Камчатский край</td>
													<td style="text-align: left;">Максимум 36 дней</td>
												</tr>
											</tbody>
										</table>
										<p style="font-family: tahoma, arial, helvetica, sans-serif; font-size: 12px;">
											Для получения более подробной информации, пожалуйста, посетите сайт
											<a target="_blank" href="http://www.russianpost.ru/rp/servise/ru/home/postuslug/termsdelivery/termsdeliv_parcel  " adhocenable="false">Почты России</a>
										</p>
										<p></p>
									</div>
								</div>

							</div>
							<div class="parbase faq section">

								<div class="toggle-list-item">
									<h3 class="toggle-list-headline slide-down-toggle" data-tracking-type="event" data-tracking-method="link" data-tracking-json-template="utagLinkFAQ" data-tracking-params="CLICK_FAQ|Click on FAQ|Click on FAQ">
										<span>Недоставленные посылки</span>
									</h3>
									<div class="toggle-list-content article-contents slide-down">
										<p></p>
										<p>
											В случае, если посылка не может быть доставлена по выбранному вами варианту доставки, она автоматически возвращается в H&amp;M.
										</p>
										<p></p>
									</div>
								</div>

							</div>

						</div>

					</article>
				</div>
				<div class="grid col-3">
					<div class="parsys right iparsys">
						<div class="section">
							<div class="new"></div>
						</div>
						<div class="iparys_inherited">
							<div class="parsys right iparsys"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>

  <script>
  $(document).ready(function(){
  	$('.slide-down-toggle').click(function(){
  		$(this).toggleClass('open');
  	});
  });
  </script>



  <span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span>
</body>
</html>