
<main role="main" class="favorites-active">
	<div class="wrapper">
		<nav class="breadcrumbs">
			<ul>
				<li>
					<a href="/ru_ru/">Yourhm.com.ua</a>
				</li>
				<li class="active">
					<a href="#" onclick="return false;">КОРЗИНА</a>
				</li>
			</ul>
		</nav>
		<script type="text/javascript">$("body").addClass("checkout-loader-layer");</script>
		<header class="checkout-header">
			<h1>КОРЗИНА</h1>
		</header>
		<div class="row sticky-wrapper ng-scope" ng-controller="CartContextController">
			<div class="grid col-8">
				<h2 class="visuallyhidden">Товары в корзине</h2>
				<ul class="product-detail-list responsive ng-scope" id="cartPage-items">
					<li class="product-detail-list-item ng-scope" id="0462979003">
						<!-- Shopping bag item -->
						<div class="product-detail-list-item-image-wrapper">
							<div class="wrapper-inner">
								<a href="#" class="product-detail-list-item-image ">
                <%=image_tag("in_cart.jpg" , class:"product-detail-list-item-image-image" )%></a>
							</div>
						</div>
						<div class="product-detail-list-item-details">
							<div class="product-detail-list-item-price-info">
								<p class="product-detail-list-item-total-price">
									Итого:
									<span id="entry_new_price" class="ng-binding">2499 Грн</span>
								</p>
							</div>
							<h3 class="sub-sub-heading ng-binding">Атласная куртка</h3>

							<p class="product-detail-selection"></p>
							<div class="product-item-selection ng-binding"></div>
							<p></p>
							<dl class="product-detail-list-item-details-list">
								<dt>№ арт.:</dt>
								<dd class="ng-binding">0462979003</dd>

								<dt>Цвет:</dt>
								<dd class="ng-binding">Черный</dd>

								<dt>Размер:</dt>
								<dd class="ng-binding">38</dd>
							</dl>
						</div>
						<div class="product-detail-list-item-actions">
							<button class="button secondary icon icon-trash" type="button" title="Remove product"></button>
							<!-- ngIf: true -->
							<button class="button secondary icon icon-move-favorite ng-scope" type="button" data-saved-text="Saved to favorites" data-not-saved-text="Not saved to favorites" title="Toggle favorite"></button>
							<!-- end ngIf: true -->
							<label class="product-detail-list-item-actions-label" for="shopping-bag-quantity-options-4"></label>
							<div class="select-primary product-detail-list-item-quantity">
								<select name="product-detail-list-item-quantity-options-4" id="shopping-bag-quantity-options-4" data-validation="false" ng-change="updateQuantity(entry,entry.quantity)" class="ng-pristine ng-untouched ng-valid">
									<option value="0" selected="selected" label="1">1</option>
									<option value="1" label="2">2</option>
									<option value="2" label="3">3</option>
									<option value="3" label="4">4</option>
									<option value="4" label="5">5</option>
									<option value="5" label="6">6</option>
									<option value="6" label="7">7</option>
									<option value="7" label="8">8</option>
									<option value="8" label="9">9</option>
									<option value="9" label="10">10</option>
								</select>
							</div>
						</div>
						<!-- ngIf: entry.hazmat -->
					</li>
				</ul>
			</div>
			<div id="cartPage-summary" class="grid col-4">
				<div class="shopping-bag-order-total sticky-on-scroll semi-sticky" data-sticky-offset="-20" data-sticky-stop-offset="-70">
					<div class="box">
						<h2 class="box-headline">ОБЩАЯ СТОИМОСТЬ ТОВАРОВ В КОРЗИНЕ</h2>
						<div class="box-content">
							<div class="shopping-bag-total">
								<table class="order-total">
									<tbody>
										<tr>
											<th scope="row">СТОИМОСТЬ ЗАКАЗА:</th>
											<td>
												<span id="newPriceSubtotal" class="ng-binding">2499 Грн</span>
											</td>
										</tr>
										<tr class="ng-scope">
											<th scope="row">ДОСТАВКА:</th>
											<td class="ng-binding">99 Грн</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th scope="row">ИТОГО</th>
											<td id="total_price_of_basket" class="ng-binding">2598 Грн</td>
										</tr>
									</tfoot>
								</table>
								<button class="button button-big">ПЕРЕЙТИ К ОФОРМЛЕНИЮ ЗАКАЗА</button>
							</div>
							<p class="fine-print">
								Цены и стоимость доставки являются неподтвержденными до перехода к разделу оформления заказа.
							</p>
							<p class="fine-print">
								14-дневный период возврата товара, комиссия за возврат и возврат стоимости за неотправленный товар. Прочитать о&nbsp;
								<a class="overlay-trigger underline" href="#">Прочитать о возврате и возмещении стоимости товара.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>