	<main role="main" class="responsive my-hm">
		<div class="wrapper">
			<nav class="breadcrumbs">
				<ul>
					<li>
						<a href="/ru_ru/">Yourhm.com.ua</a>
					</li>

					<li class="">
						<a href="#">Ваша учетная запись</a>
					</li>

					<li class="active">
						<a href="#" onclick="return false;">Статистика заказов</a>
					</li>

				</ul>
			</nav>
			<nav class="section navigation menu " role="navigation">
				<ul role="menu">
					<li class="item" role="presentation" tabindex="0">
						<a href="/my-overview" role="menuitem">Обзор</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="/my-profile" role="menuitem">Личные сведения</a>
					</li>
					<li class="current item" role="presentation" tabindex="-1">
						<a href="/my-order" role="menuitem">Заказы</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="my-address" role="menuitem">Адресная книга</a>
					</li>
				</ul>
			</nav>
			<div class="layout layout-eight">
				<header class="page-header">
					<h1 class="heading">ЗАКАЗЫ</h1>
					<p class="text">
						Вы можете просмотреть все Ваши нынешние и предыдущие заказы здесь.
					</p>
				</header>
				<ul class="orders">
				<% @orders.each do |order|%>
				<% if order.orders_product_data %>
					<li class="order-item">
						<div class="order-header js-toggle-trigger">
							<span class="order-id">ORDER&nbsp;<%= order.id %></span>
							<span class="order-date"><%= order.created_at %></span>
							<span class="order-status my-hm-order-status-cancelled">Отменено</span>
						</div>
						<div class="order-info">
								<div class="order-details two modules">
									<ul class="details-list">

										<li class="item">
											<span class="label">ЭЛ. ПОЧТА</span>
											<span class="static"><%= order.user.email %></span>
										</li>

										<li class="item">
											<span class="label">ДАТА ЗАКАЗА</span>
											<span class="static"><%= order.created_at %></span>
										</li>

										<li class="item">
											<span class="label">СПОСОБ ОПЛАТЫ</span>
											<span class="static">Оплата на счет магазина</span>
										</li>

									</ul>
									<ul class="details-list">
										<li class="item">
											<span class="label">ВАРИАНТЫ ДОСТАВКИ</span>
											<span class="static">Доставка Новой почтой</span>
										</li>

										<li class="item">
											<span class="label">АДРЕС ДОСТАВКИ</span>
											<span class="static">
												<%= order.user.first_name + ' ' + order.user.father + ' ' + order.user.second_name%>
												<br>
												<%= order.address %>
											</span>
										</li>

										<li class="item">
											<span class="label">ОБЩАЯ СТОИМОСТЬ ЗАКАЗА</span>
											<span class="amount"><%= order.sum %> Грн</span>
										</li>
									</ul>
								</div>

							<ul class="order-products product-detail-list responsive">
								<% order.orders_product_data.each do |opd| %>
								<li class="product-detail-list-item">
									<div class="product-detail-list-item-image-wrapper">
										<div class="wrapper-inner">
											<a href="" class="product-detail-list-item-image">
												<img alt="Product name" width="140" height="210" class="product-detail-list-item-image-image" src="<%=opd.product_datum.product.img%>" title="Product name">
											</a>
										</div>
									</div>
									<div class="product-detail-list-item-details">
										<div class="product-detail-list-item-price-info">
											<p class="product-detail-list-item-total-price">
												Итого:
												<span class="amount"><%= opd.product_datum.price*opd.count%> Грн</span>
											</p>
										</div>

										<h3 class="sub-sub-heading"><%=opd.product_datum.product.name%></h3>
										<span class="original-price"><%=opd.product_datum.price%> Грн</span>
										<p class="product-detail-price"></p>
										<p class="product-detail-price"></p>
										<p></p>

										<dl class="product-detail-list-item-details-list">

											<dt>№ арт.:</dt>
											<dd><%=opd.product_datum.article%></dd>

											<dt>Цвет:</dt>
											<dd><%=opd.product_datum.color.name%></dd>

											<dt>Количество:</dt>
											<dd><%= opd.count %></dd>

											<dt>Размер:</dt>
											<dd><%=opd.product_size.size%></dd>

										</dl>
									</div>
								</li>
								<% end %>
							</ul>

							<!-- FINISH -->
							<ul class="order-table">
								<li class="item">
									<span class="label">Итого:</span>
									<span class="static "><%= order.sum %> Грн</span>
								</li>

								<li class="item order-total">
									<span class="label">ИТОГО:</span>
									<span class="static "><%=order.sum%> Грн</span>
								</li>
							</ul>
						</div>
					</li>
					<% end %>
					<% end %>
				</ul>
			</div>

			<script type="text/javascript">
				$(document).ready(function(){
					$('.js-toggle-trigger').click(function(){
						$(this).parent().toggleClass('is-open');
					});
				});
			</script>
		</div>
	</main>