
	<main role="main" class="responsive my-hm">
		<div class="wrapper">
			<nav class="breadcrumbs">
				<ul>
					<li>
						<a href="#">Yourhm.com.ua</a>
					</li>

					<li class="">
						<a href="#">Ваша учетная запись</a>
					</li>

					<li class="active">
						<a href="#" onclick="return false;">Платежные реквизиты</a>
					</li>
				</ul>
			</nav>

			<nav class="section navigation menu " role="navigation">
				<ul role="menu">
					<li class="item" role="presentation" tabindex="0">
						<a href="#" role="menuitem">Обзор</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Личные сведения</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Заказы</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Адресная книга</a>
					</li>
					<li class="current item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Информация о банковском счете</a>
					</li>
				</ul>
			</nav>

			<div class="row my-hm ng-scope" ng-controller="MyAccountController as myAccountCtrl">
				<div aria-hidden="true" id="remove-card-popup" class="hidden modal-content">
					<div class="modal-text">
						<h1 class="heading">Удалить данные карты</h1>
						<p class="text">Удалить эту платежную карту?</p>
						<div class="buttons clearfix">
							<button ng-click="closePopup()" class="modalclose button secondary">Отменить</button>
							<button ng-click="removeCard()" class="modalclose button primary">OK</button>
						</div>
					</div>
				</div>

				<div aria-hidden="true" id="remove-payment-popup" class="hidden modal-content">
					<div class="modal-text">
						<h1 class="heading">УДАЛИТЬ АДРЕС</h1>
						<p class="text">Вы уверены, что хотите удалить номер БИК?</p>
						<div class="buttons clearfix">
							<button ng-click="closePopup()" class="modalclose button secondary">Отменить</button>
							<button ng-click="removePaymentInfo()" class="modalclose button primary">OK</button>
						</div>
					</div>
				</div>

				<div class="layout layout-eight">
					<header class="page-header">
						<h1 class="heading">Информация о банковском счете</h1>
						<p class="text">Банковская карта</p>
					</header>

					<p>
						В настоящее время нет сохраненных данных банковской карты. Вы можете сохранить реквизиты вашей банковской карты на странице оформления заказа, чтобы использовать их в следующий раз при совершении покупок в нашем Интернет-магазине.
					</p>
					<div ng-controller="PaymentDetailsController" class="form-group ng-scope">
						<h3 class="sub-heading">Банковский счет</h3>
						<p class="text">
							Пожалуйста, предоставьте реквизиты вашего банковского счета, чтобы мы могли вернуть стоимость вашего заказа, оплаченного  «Наложенным платежом». Если Вы не знаете номер Вашего счета, пожалуйста, обратитесь в свой банк. Пожалуйста, обратите внимание, что Вы должны иметь банковский счет в России, и что нам нужны следующие данные: Номер банковского счета в России, номер БИК, ФИО (имя, ОТЧЕСТВО и фамилия. Эти данные можно найти и изменить в Личных сведениях).
						</p>
						<div class="my-hm-details" ng-class="{'my-hm-details-edit': isEditMode()}">
							<form class="form-section agile-form ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" name="paymentInfoForm" id="paymentInfoForm" ng-submit="update()" novalidate="">
								<fieldset class="form-part responsive">

									<legend class="heading">ФИО владельца банковского счета</legend>
									<p class="text"></p>

									<div class="inputwrapper required" ng-class="true ? 'required' : 'optional'">
										<label class="label" for="paymentInfo.IBAN">Банковский счет</label>

										<!-- ngIf:  -->

										<input ng-show="isEditpayment || isEdit['payment']" ng-model="payment.IBAN" ng-change="addressMandatoryChanged('payment','IBAN')" required="" type="text" data-validation-maxlength="150" data-validation-regex="^(?:\s*)(?![0]{20})(\d{3}[0-9ABCEHKMTX]\d{2}((00(0|1))|(0[5-9][0-9])|([1-9][0-9][0-9]))\d{11})(?:\s*)$" data-validation-maxlength-text="   " data-validation-required-text="Вам нужно ввести номер Вашего банковского счета " data-validation-regex-text="Пожалуйста, укажите номер Вашего банковского счета" id="payment-IBAN" name="IBAN" maxlength="150" class="text-input field IBAN to-hankaku ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength ng-hide" autocomplete="">
										<div class="input-info ng-hide" ng-show="isEditpayment || isEdit['payment'] "></div>
										<span class="static ng-binding" ng-hide="isEditpayment || isEdit['payment']"></span>

									</div>

									<div class="inputwrapper required" ng-class="true ? 'required' : 'optional'">
										<label class="label" for="paymentInfo.BIC">БИК</label>

										<!-- ngIf:  -->

										<input ng-show="isEditpayment || isEdit['payment']" ng-model="payment.BIC" ng-change="addressMandatoryChanged('payment','BIC')" required="" type="text" data-validation-maxlength="11" data-validation-regex="^(?:\s*)\d{9}(?:\s*)$" data-validation-maxlength-text="   " data-validation-required-text="Вы должны указать номер БИК " data-validation-regex-text="" id="payment-BIC" name="BIC" maxlength="11" class="text-input field BIC to-hankaku ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength ng-hide" autocomplete="">
										<div class="input-info ng-hide" ng-show="isEditpayment || isEdit['payment'] "></div>
										<span class="static ng-binding" ng-hide="isEditpayment || isEdit['payment']"></span>

									</div>

								</fieldset>

								<div class="button-group">
									<input type="submit" class="button ng-hide" ng-show="isEditMode()" value="СОХРАНИТЬ">
									<button class="button my-hm-edit-details" ng-click="editMode()" ng-show="!isEditMode()">Редактировать</button>
									<button class="secondary button ng-hide" ng-show="isEditMode()" ng-click="setAbortEditMode(false)">Отменить</button>
									<a class="button button-secondary ng-hide" ng-click="openRemovePaymentInfoPopup()" ng-hide="getContext().iban == null">Удалить</a>
								</div>
							</form>
							<!-- <div class="modaloverlay responsive ng-hide" ng-show="showPopup">
								<div class="modalbackground"></div>
								<div class="modal">
									<div class="modalwrap">
										<div class="modalcontents">
											<div class="shopping-bag-message">
												<p>Вы уверены, что хотите удалить номер БИК?</p>
												<div class="buttons clearfix">
													<button ng-click="remove()" class="modalclose button">OK</button>
													<button ng-click="showPopup = false" class="modalclose button button-secondary">Отменить</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<input id="cybersourceDecision" type="hidden" value="">
		<div aria-hidden="true" id="payment-system-unavailable" class="hidden modal-content">
			<div class="modal-text">
				<p>
					Ваш запрос не удалось обработать.
					<br>
					Платежная система была недоступна. Пожалуйста, повторите попытку.
				</p>
				<div class="sticky button-group">
					<input class="modalclose button" type="button" value="OK"></div>
			</div>
		</div>
		<script type="text/javascript">
			$(window).load(function() {
				csDecision = $('#cybersourceDecision').val();
				if (csDecision != "" && csDecision != "ACCEPT") {
					$("#payment-system-unavailable").show();
				}
			});
		
			$(function() {
				$('.modalclose').click(function() {
					$('#payment-system-unavailable').hide();
				})
			});

			$("body").on("change", "input[name='use-as-default']", function() {
				var paymentInfoId = $(this).attr('data-paymentinfo-id');
				var datas = "paymentInfoId=" + paymentInfoId;
				var urls = $("#default-paymentInfo-url").val();
				$.ajax({
					type : "POST",
					url : urls,
					data : datas
				});

			});
		</script>

	</main>

