	<main role="main">
		<!-- Main -->
		<!--AEMPUBPRDEU36-->
		<div class="wrapper">
			<div class="parsys lifelargecarousel"></div>
			<div class="topnavlife parbase">
				<header class="life-header animate" style="top: 0px;">
					<div class="life-header-inner">
						<nav class="life-header-pages">
							<ul>
								<li>
									<a href="#">About</a>
								</li>
								<li>
									<a href="#">контакты</a>
								</li>
							</ul>
						</nav>
						<a class="life-logotype" href="#">
							<span class="life-logotype-headline">Magazine</span>
							<span class="life-logotype-sub-headline">A world of inspiration</span>
						</a>

						<nav class="life-main-nav">
							<ul>

								<li class="">
									<a href="#" class="life-main-nav-main-links">Fashion</a>

									<ul class="#">

										<li>
											<a href="#">Everyday Icon</a>
										</li>

										<li>
											<a href="#">Editors Picks</a>
										</li>

										<li>
											<a href="#">The Item</a>
										</li>

										<li>
											<a href="#">The Column</a>
										</li>

										<li>
											<a href="#">Celebrity Look</a>
										</li>

										<li>
											<a href="#">The Circus</a>
										</li>

										<li>
											<a href="#">Gossip Folks</a>
										</li>

										<li>
											<a href="#">The Tryout</a>
										</li>

										<li>
											<a href="#">Featured Fashion</a>
										</li>

										<li>
											<a href="#">Catwalk Report</a>
										</li>

										<li>
											<a href="#">Street Style</a>
										</li>

									</ul>

								</li>

								<li class="">
									<a href="#" class="life-main-nav-main-links">Beauty</a>

									<ul class="life-main-nav-sub-menu">

										<li>
											<a href="#">Experts Corner</a>
										</li>

										<li>
											<a href="#">Pretty Picks</a>
										</li>

										<li>
											<a href="#">Good Looks</a>
										</li>

									</ul>

								</li>

								<li class="">
									<a href="#" class="life-main-nav-main-links">Culture</a>

									<ul class="life-main-nav-sub-menu">

										<li>
											<a href="#">Follow Friday</a>
										</li>

										<li>
											<a href="#">On the Rise</a>
										</li>

										<li>
											<a href="#">Inside H&amp;M</a>
										</li>

										<li>
											<a href="#">Interview</a>
										</li>

										<li>
											<a href="#">Top Model Secrets</a>
										</li>

										<li>
											<a href="#">At Home</a>
										</li>

										<li>
											<a href="#">CONSCIOUS</a>
										</li>

										<li>
											<a href="#">The Hit List</a>
										</li>

									</ul>

								</li>

								<li class="">
									<a href="#" class="life-main-nav-main-links">Video</a>

									<ul class="life-main-nav-sub-menu">

										<li>
											<a href="#">Sports Studio</a>
										</li>

										<li>
											<a href="#">H&amp;M LOVES MUSIC</a>
										</li>

										<li>
											<a href="#">Creative films</a>
										</li>

									</ul>

								</li>

							</ul>
						</nav>
						<ul class="life-social-links">

							<li>
								<a title="Facebook" class="life-social-link-facebook" href="https://www.facebook.com/hm" target="_blank">Facebook</a>
							</li>

							<li>
								<a title="Twitter" class="life-social-link-twitter" href="https://twitter.com/hm" target="_blank">Twitter</a>
							</li>

							<li>
								<a title="Instagram" class="life-social-link-instagram" href="http://instagram.com/hm" target="_blank">Instagram</a>
							</li>

							<li>
								<a title="Youtube" class="life-social-link-youtube" href="https://www.youtube.com/user/hennesandmauritz" target="_blank">Youtube</a>
							</li>

							<li>
								<a title="Google +" class="life-social-link-google-plus" href="https://plus.google.com/+HM/posts" target="_blank">Google +</a>
							</li>

						</ul>
					</div>
				</header>

			</div>

			<div class="hm-life-inner">
				<div class="parsys main">
					<div class="parbase section articlelisting">
						<!--PAGE:articleListing -->

						<div class="articlelisting-life-inner-content">

							<article class="life-teaser">

								<time class="life-separator" datetime="24" марта="" 2017="">
									<span>24 марта 2017</span>
								</time>

								<a class="life-article-image-wrapper" href="#">
                  <%=image_tag("new1.jpg" , width:"844" , height:"563" , alt:"" , class:"life-article-image" )%>
								</a>
								<div class="life-pre-headline">
									<a href="#">THE TRYOUT</a>
								</div>
								<h2 class="life-article-headline">
									<a href="#">3 ways to style the floral trend</a>
								</h2>
								<p class="life-article-preamble">We’re crazy for flowers this season.</p>
								<a class="life-teaser-read-more" href="#">Прочитать историю</a>
							</article>

							<article class="life-teaser">

								<time class="life-separator" datetime="23" марта="" 2017="">
									<span>23 марта 2017</span>
								</time>

								<div class="col-wrapper col-wrapper-text-right  ">
									<div class="col col-text">
										<div class="life-teaser-text-wrapper">
											<div class="life-teaser-text-inner">
												<div class="life-pre-headline">
													<a href="#">EDITORS PICKS</a>
												</div>
												<h2 class="life-article-headline">
													<a href="#">Pack for a weekend in the sun</a>
												</h2>
												<p class="life-article-preamble truncated-text">
													Both body and mind are craving a getaway to the sun. Pack your favourite bag –
												</p>
												<a class="life-teaser-read-more" href="#">Прочитать историю</a>
											</div>
										</div>
									</div>

									<div class="col col-image">
										<a href="#">
                      <%=image_tag("new2.jpg" , width:"410" , height:"274" , alt:"" , class:"life-teaser-image" )%></a>
									</div>

								</div>
							</article>

							<article class="life-teaser">

								<time class="life-separator" datetime="22" марта="" 2017="">
									<span>22 марта 2017</span>
								</time>

								<a class="life-article-image-wrapper" href="#">
                  <%=image_tag("new3.jpg" , width:"844" , height:"563" , alt:"" , class:"life-article-image" )%></a>
								<div class="life-pre-headline">
									<a href="#">FEATURED FASHION</a>
								</div>
								<h2 class="life-article-headline">
									<a href="#">How to be formal and sporty at the same time</a>
								</h2>
								<p class="life-article-preamble">
									Combining your office attire with functional sportswear pieces is the smart way to dress this spring and summer.
								</p>
								<a class="life-teaser-read-more" href="#">Прочитать историю</a>
							</article>

							<article class="life-teaser">

								<time class="life-separator" datetime="22" марта="" 2017="">
									<span>22 марта 2017</span>
								</time>

								<div class="col-wrapper   ">
									<div class="col col-text">
										<div class="life-teaser-text-wrapper">
											<div class="life-teaser-text-inner">
												<div class="life-pre-headline">
													<a href="#">EVERYDAY ICON</a>
												</div>
												<h2 class="life-article-headline">
													<a href="#">In love with Lulama</a>
												</h2>
												<p class="life-article-preamble">
													Our South African girl crush styles five perfect spring looks.
												</p>
												<a class="life-teaser-read-more" href="#">Прочитать историю</a>
											</div>
										</div>
									</div>

									<div class="col col-image">
										<a href="#">
                      <%=image_tag("new4.jpg" , width:"410" , height:"274" , alt:"" , class:"life-teaser-image" )%>
										</a>
									</div>

								</div>
							</article>

							<article class="life-teaser">

								<time class="life-separator" datetime="21" марта="" 2017="">
									<span>21 марта 2017</span>
								</time>

								<a class="life-article-image-wrapper" href="#">
                  <%=image_tag("new5.jpg" , width:"844" , height:"563" , alt:"EXPERTS CORNER" , title:"EXPERTS CORNER" , class:"life-article-image" )%>
									</a>
								<div class="life-pre-headline">
									<a href="#">EXPERTS CORNER</a>
								</div>
								<h2 class="life-article-headline">
									<a href="#">The complete guide to faking freckles</a>
								</h2>
								<p class="life-article-preamble">Who doesn’t need some sunshine sprinkle?</p>
								<a class="life-teaser-read-more" href="#">Прочитать историю</a>
							</article>

						</div>

						<a href="#" data-offset-query-param="offset" data-page-size-query-param="pageSize" data-per-page="15" data-default-page-size="15" class="life-loadmore load-more-link">
							<span>Загрузить больше информационных материалов</span>
						</a>
					</div>

				</div>

			</div>
		</div>
		<div class="backtop parbase">
			<a class="life-back-to-top life-back-faded-out" href="#">Вернуться наверх</a>
		</div>

	</main>