	
	<main role="main">
		<!-- Main -->
		<!--AEMPUBPRDEU33-->
		<div class="wrapper">
			<div class="hm-life-inner">
				<div class="parsys main">
					<div class="parbase largearticlehero section">

						<!-- Start image -->

						<div class="life-article-image-wrapper life-article-image-single-wrapper">
              <%=image_tag("single_n.jpg" ,width:"844", class:"life-article-image life-article-image-single" , height:"563")%>
							<div class="life-image-text"></div>
						</div>

						<!-- End image -->

						<!-- Start slideshow -->

						<!-- End video -->
					</div>
					<div class="parbase section article">

						<div class="life-pre-headline">
							<a href="#">INTERVIEW</a>
						</div>

						<h1 class="life-article-headline">Zara Larsson’s top music and fashion picks</h1>

						<p class="life-article-preamble">
							Find out what song gets her immediately on the dancefloor, the H&amp;M items she loves right now, and what her weirdest habit is.
						</p>

						<time class="life-separator" datetime="17 марта 2017">
							<span>17 марта 2017</span>
						</time>

						<div class="life-article-inner">
							<ul class="life-article-authors">

								<li>PHOTO: SORAYA ZAMAN</li>

							</ul>
							<div class="parsys text">
								<div class="parbase section text">

									<p>
										Music has always been the focal point in Zara Larsson’s life, and she
	  has never had a plan B – a safe option to lean back on – because she
	  has never needed one. She’s been famous in Sweden since she was 10 and
	  released her first global hit song at 15. Today she’s 19 and her
	  international debut album SO GOOD is finally out everywhere (you
	  should listen to it
										).&nbsp;
									</p>
									<p>
										In the coming months she’ll be going from city to city, country to
	  country, continent to continent, to perform and promote it. On top of
	  that, the collection that she has designed together with H&amp;M is
	  just two months from hitting stores all over the world. &nbsp;
									</p>
									<p>
										We reached the busy singer to find out more about her relationship
	  to music and fashion. Read on to see what her favourite H&amp;M items
	  are and listen to all the songs on her personal top list.
									</p>
								</div>
								<div class="parbase section text">

									<p>
										WHAT’S YOUR FAVOURITE SONG ON SO GOOD?
										<br>
										“ <i>Make That Money
	  Girl</i> 
										. I really like the message, it’s empowering and quite
	  different from the rest of the tracks.”
									</p>
									<p>
										IF IT WASN’T MUSIC, WHAT WOULD YOU BE DOING WITH YOUR TIME?
										<br>
										“I’ve never had any back-up. It’s just always been music and singing.
	  When I was little I danced a lot, so maybe dancing. But definitely
	  something creative that has to do with music!”
									</p>
								</div>
								<div class="parbase section text">

									<p>
										IF YOU ONLY GOT TO LISTEN TO ONE SONG FOR THE REST OF YOUR LIFE –
	  WHICH ONE WOULD IT BE?
										<br>
										“ <i>Bohemian Rhapsody</i>
										, because it
	  feels like five songs mashed up in one! It’s so hard to just pick one!”&nbsp;
									</p>
									<p>
										WHAT’S THE ONE SONG THAT YOU CAN’T GET OUT OF YOUR HEAD?
										<br>
										“At
	  the moment,&nbsp;
										<i>Kelly Price</i>
										&nbsp;by Migos &amp; Travis Scott. I just
	  can’t stop hearing it in my head.”
									</p>
									<p>
										WHAT’S YOUR GUILTY MUSIC PLEASURE?
										<br>
										“I really don’t have any…
	  Whatever I listen to I feel comfortable sharing!”
									</p>
									<p>
										WHAT WAS THE FIRST CD YOU EVER OWNED?
										<br>
										“Oh wow! Let me think… I
	  think it was Carola’s&nbsp;
										<i>Greatest Hits</i>
										. She’s a famous Swedish singer.”
									</p>
									<p>
										WHAT’S A SONG THAT YOU LISTEN TO WHEN YOU’RE HAPPY?
										<br>
										“The
	  Grease soundtrack! It always makes me smile. It just makes me want to
	  dance and immediately puts me in a good mood.”
									</p>
									<p>
										… AND A SONG WHEN YOU’RE FEELING SAD?
										<br>
										“
										<i>Close to
	  You</i> 
										&nbsp;with Rihanna! Such a beautiful song!”
									</p>
									<p>
										WHAT SONG GETS YOU IMMEDIATELY ON THE DANCELOOR?
										<br>
										“
										<i>Work</i>
										&nbsp;with Rihanna! Almost all of her songs are on my top list
	  right now.”
									</p>
								</div>
								<div class="image parbase section">

									<div class="rimd" style="padding-bottom:66.70457776514075%;">
                   <%=image_tag("single_n1.jpg")%></div>

									<small>
										"Make sure to grab a pair of shades because from what I’ve heard spring is here soon,” Zara on her top picks.
									</small>
								</div>
								<div class="parbase section text">

									<p>
										WHAT’S YOUR WEIRDEST HABIT?
										<br>
										“I crack my knuckles. It’s not that
	  weird, but it’s not really appreciated by people around me…”
									</p>
									<p>
										WHAT’S YOUR GO-TO LOOK?
										<br>
										“Cat-eye eyeliner, black jeans, a
	  T-shirt and some fresh new sneakers. Causal and comfortable but still
	  fresh and cute!”
									</p>
									<p>
										WHAT ARE YOUR FAVOURITE ITEMS FROM H&amp;M RIGHT NOW?
										<br>
										“I like
	  a lot of pink! I would say my favourites right now are the light pink
	  denim jacket, some silver high-heels, a pair of jeans with big
	  stitches on each side and some really cool sunglasses! You need to
	  make sure to grab a pair of shades cause from what I’ve heard spring
	  is here soon!”
									</p>
								</div>
								<div class="parbase section text">

									<p>
										WHAT ITEM IN YOUR WARDROBE WOULD YOU NEVER PART FROM?
										<br>
										“I’m not
	  really that attached to my clothes. Which feels nice, because that
	  means I update my wardrobe often! But I would never ever throw out
	  anything that’s custom-made for me, all of those items feel really
	  special to me, my stage clothes for example.”
									</p>
									<p>
										WHAT’S ON YOUR PLAYLIST?
										<br>
										“My playlist is a mix of my favourite
	  pop-hits, lots of R'n'B and trap as well as hip hop and a little bit
	  of my own songs. I’m inspired by real life events, love and everything
	  else that feels right to sing about. Just as my own musical taste,
	  it’s a mix of ballads, pop-tunes that make you want to dance and also
	  a few urban-vibe songs.”
									</p>
									<p>
										DESCRIBE YOURSELF WITH THREE WORDS!
										<br>“Creative, funny and kind.”</p>
								</div>
								<div class="parbase section text">

									<p>
										<i>
											<br>
											The Zara Larsson &gt;&lt; H&amp;M collection will be
	    available in selected stores and online on 18 May. SO GOOD is out
	    everywhere now.
										</i>
									</p>
								</div>

							</div>

						</div>
					</div>
					<div class="sharearticle parbase section">

						<div class="life-share">
							<div class="life-separator">
								<span>SHARE</span>
							</div>

							<ul class="life-social-links">

								<li>
									<a title="Facebook" class="life-social-link-facebook" href="" target="_blank">Facebook</a>
								</li>

								<li>
									<a title="Twitter" class="life-social-link-twitter" href="" target="_blank">Twitter</a>
								</li>

								<li>
									<a title="Google +" class="life-social-link-google-plus" href="" target="_blank">Google +</a>
								</li>

								<li>
									<a title="Pinterest" class="life-social-link-pinterest" href="" target="_blank">Pinterest</a>
								</li>

								<li>
									<a title="" class="life-social-link-vk" href="" target="_blank"></a>
								</li>

							</ul>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="backfeed parbase">

			<a class="life-back-to-feed" href="/ru_ru/life/culture.html">Вернуться к информационной ленте</a>

		</div>

		<div class="backtop parbase">

			<a class="life-back-to-top life-back-faded-out" href="#">Вернуться наверх</a>
		</div>

	</main>
