	<main role="main" class="">
		<div class="wrapper">
			<nav class="breadcrumbs">
				<ul>
					<li>
						<a href="/ru_ru/">HM.COM</a>
					</li>
					<li class="">
						<a href="#" onclick="return false;">ОФОРМЛЕНИЕ ЗАКАЗА</a>
					</li>
					<li class="active">
						<a href="#" onclick="return false;">ОФОРМЛЕНИЕ ЗАКАЗА</a>
					</li>
				</ul>
			</nav>
			<header class="checkout-header">
				<h1>ОФОРМЛЕНИЕ ЗАКАЗА</h1>
				<ul class="checkout-breadcrumbs items-3 clearfix">
					<li class="item">1. ВОЙТИ</li>
					<li class="item">2. ДОСТАВКА И ОПЛАТА</li>
					<li class="item item-current item-last">3. СПАСИБО</li>
				</ul>
			</header>
			<div class="row">
				<div class="grid col-8">
					<div class="checkout-confirmation">
						<div class="box">
							<h1 class="box-headline">ПОДТВЕРЖДЕНИЕ ЗАКАЗА</h1>
							<h2 class="thanks-for-shopping box-content">Спасибо, что Вы совершили покупку в H&amp;M!</h2>

							<div class="box-content order-confirmation-order-delivered">
								<p class="descriptive">
									Подтверждение Вашего заказа было отправлено на inbrogues1@gmail.com
								</p>
								<input type="button" class="slide-down-toggle" value="ПРОСМОТРЕТЬ ПОДТВЕРЖДЕНИЕ" data-target="view-order"></div>
						</div>
						<div class="slide-down view-order">
							<div class="box">
								<div class="responsive layout" ng-class="{'club-member' : false}">
									<div class="orders">
										<div class="order-item is-open">
											<div class="order-info">
												<div class="order-info">
													<div class="order-details two modules">
														<h3 class="sub-heading">СВЕДЕНИЯ О ЗАКАЗЕ - 214371527</h3>
														<ul class="details-list">
															<li class="item">
																<span class="label">ЭЛ. ПОЧТА</span>
																<span class="static">inbrogues1@gmail.com</span>
															</li>
															<li class="item">
																<span class="label">СПОСОБ ОПЛАТЫ</span>
																<span class="static">Оплата наличными при получении</span>
															</li>

															<li class="item">
																<span class="label">ДАТА ЗАКАЗА</span>
																<span class="static">22 мар 2017</span>
															</li>
														</ul>
														<ul class="details-list">
															<li class="item">
																<span class="label">ВАРИАНТЫ ДОСТАВКИ</span>
																<span class="static">Доставка курьером</span>
															</li>
															<li class="item">
																<span class="label">АДРЕС ДОСТАВКИ</span>
																<span class="static">
																	Сергей Николаевич Шишман
																	<br>
																	Педагогическая
																	<br>
																	105064&nbsp;Одес
																	<br>Российская Федерация</span>
															</li>
														</ul>
													</div>
													<div class="order-tracking">
														<h3 class="sub-heading">СВОДНАЯ ИНФОРМАЦИЯ - 214371527</h3>
														<span class="order-id">ДОСТАВКА:
															<span class="headline-note-text">2-6&nbsp;РАБОЧИХ ДНЯ(-ЕЙ)</span>
														</span>
													</div>
												<ul class="order-products product-detail-list responsive">
													<li class="product-detail-list-item" ng-class="{'club-price-item': false }" data-articlecode="0462979004">
														<!-- Order confirmation item -->
														<div class="product-detail-list-item-image-wrapper">
															<div class="wrapper-inner">
																<a href="#" class="product-detail-list-item-image ">
                                  <%=image_tag("in_check.jpg" , class:"product-detail-list-item-image-image" )%>

																</a>
																<!-- ngIf: false -->
															</div>
														</div>
														<div class="product-detail-list-item-details">
															<div class="product-detail-list-item-price-info">
																<p class="product-detail-list-item-total-price">
																	Итого:&nbsp;2&nbsp;499 Pуб
																</p>
															</div>
															<h3 class="sub-sub-heading">Атласная куртка</h3>
															<div class="product-detail-price" ng-class="{'sale-price' : false }">
																<span class="original-price">2&nbsp;499 Pуб</span>
															</div>
															<p class="product-detail-selection"></p>
															<dl class="product-detail-list-item-details-list">
																<dt>№ арт.:</dt>
																<dd>0462979004 &nbsp;</dd>
																<dt>Количество:</dt>
																<dd>1 &nbsp;</dd>

																<dt>Цвет:</dt>
																<dd>Приглушенный розовый &nbsp;</dd>

																<dt>Размер:</dt>
																<dd>36 &nbsp;</dd>
															</dl>

														</div>
													</li>

												</ul>

												<ul class="order-table">
													<li class="item">
														<span class="label">Итого:</span>
														<span class="static ">2&nbsp;499 Pуб</span>
													</li>

													<li class="item">
														<span class="label">Доставка:</span>
														<span class="static ">199 Pуб</span>
													</li>

													<li class="item order-total">
														<span class="label">ИТОГО:</span>
														<span class="static ">2&nbsp;698 Pуб</span>
													</li>

												</ul>
											</div>
										</div>
									</div>
								</div>

								<div class="box">
									<div class="box-content">
										<p class="contactinfo">
											Для получения подробной информации войдите в раздел
											<a href="/ru_ru/my-account/" class="underline">Мой H&amp;M</a>
											или позвоните нам по номеру телефона 8 800 500 78 00.
											<br>
											Информацию о правилах возврата товара, пожалуйста, читайте в разделе
											<a class="overlay-trigger underline" href="/ru_ru/customer-service/return-link.html">Политика возврата и возмещения стоимости товара</a>
											<br>Поздравляем с покупкой!</p>
										<p class="contactinfo">С уважением,</p>
										<p class="contactinfo">
											ООО «Эйч энд Эм Хеннес энд Мауриц»
											<br>
											Ленинградское шоссе 16А, стр. 3, 7 эт.
											<br>
											125171 Москва
											<br>Российская Федерация</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid col-4">
				<div class="yCmsContentSlot span-24 side-content-slot cms_disp-img_slot">
					<div class="cmsimage">
						<img title="" src="" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</main>

  <span role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></span>
  <script>
  	$(document).ready(function(){
	  	$('.slide-down-toggle').click(function(){
	  		$('.checkout-confirmation .view-order').toggle();
	  	});
  	});
  </script>