	<main role="main">
		<!-- Main -->
		<!--AEMPUBPRDEU30-->
		<div class="wrapper">
			<div class="breadcrumb">
				<nav class="breadcrumbs">
					<!-- Breadcrumbs -->
					<ul>
						<li>
							<a href="#">Yourhm.com.ua</a>
						</li>

						<li>
							<a href="#" title="Служба поддержки покупателей">Служба поддержки покупателей</a>
						</li>
						<li>Новостная рассылка</li>
					</ul>
				</nav>
				<!-- /Breadcrumbs -->
			</div>

			<div class="row">
				<div class="grid col-3">
					<div class="left parsys iparsys">
						<div class="section">
							<div class="new"></div>
						</div>
						<div class="iparys_inherited">
							<div class="left parsys iparsys">
								<div class="leftcustomerservice parbase section">
									<nav class="section-menu customerservice ">
										<!-- Section menu -->
										<ul>
											<li>
												<h2>
													<a href="/ru_ru/customer-service.html">Служба поддержки покупателей</a>
												</h2>
												<div class="section-menu-sub-menu">
													<div class="section-menu-sub-menu-inner">
														<div class="section-menu-categories">

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/shopping-at-hm.html">Покупки в H&amp;M</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/payments-info.html">Оплата</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/shippinganddelivery.html">Доставка</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/returns.html">Возврат</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/download-app.html">Скачать приложение</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/transportation-restrictions.html">Ограничения по транспортировке</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/h-m-search-guide.html">
																	Руководство по использованию функции «поиск по сайту H&amp;M»
																</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/gift-cards.html">Подарочные карты</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/sizeguide.html">Таблицы размеров</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/product-and-quality.html">Уход за одеждой и качество</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/sustainability.html">Экологическая и социальная ответственность</a>
																<ul></ul>
															</div>

															<div class="section-menu-category sub">
																<a href="/ru_ru/customer-service/legal-and-privacy.html">Юридическая информация и политика конфиденциальности</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/contact.html">Контакты</a>
																<ul></ul>
															</div>

															<div class="section-menu-category">
																<a href="/ru_ru/customer-service/company-info.html">Информация о компании</a>
																<ul></ul>
															</div>

														</div>
													</div>
												</div>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid col-6">
					<article class="article-contents newsletter-signup">
						<div class="parsys main">
							<div class="newsletter parbase section">
								<!-- <script type="text/javascript" src="/etc/designs/hm/clientlibs/components.min.js"></script> -->

								<h1>ПОДПИСКА НА НОВОСТНУЮ РАССЫЛКУ</h1>
                <%=image_tag("newsletter.jpg" , class:"cq-dd-image" )%>
								<h4>ПОДПИШИТЕСЬ ПРЯМО СЕЙЧАС И ПОЛУЧИТЕ</h4>
								<ul>
									<li>
										Скидку 25% на один товар на Ваш выбор при заказе онлайн + бесплатную доставку.
									</li>
									<li>Эксклюзивные предложения.</li>
									<li>
										Актуальную&nbsp;информацию&nbsp;о специальных акциях и предложениях, последних новинках, самые свежие новости о трендах мира моды, а также гиды по стилям и советы по созданию образов.
									</li>
								</ul>

								<div class="newsletter-signup-form">
									<form action="javascript:subscribeNewsLetter('/ru_ru/fashionNews/subscribe')" id="newsletterForm" class="ng-pristine ng-valid">
										<div class="row">
											<div class="grid col-3">
												<div class="input-group">
													<label for="txt-email">Эл. почта</label>
													<input type="email" id="txt-email" name="email" value="" data-validation-required="true" data-validation-required-text="Вы должны указать адрес электронной почты" data-validation-email="true" data-validation-email-text=""></div>
											</div>
											<div class="grid col-3"></div>
										</div>
										<p class="newsletter-signup-terms">
											<label for="chbNewsLetterTerms">
												<input name="frequency" type="checkbox" id="chbNewsLetterTerms" class="input-checkbox" data-validation-required="true">
												Да, я хочу получать новостную рассылку "FASHION NEWS" и мне 16 лет или более.&nbsp;
											</label>
										</p>
										<input type="hidden" id="enablePersonal" value="true" name="enablePersonal">
										<input type="hidden" id="thankyoupage" value="/ru_ru/customer-service/thank-you" name="thankyoupage">
										<div class="newsletter-thankyou-form">
											<h4>ПЕРСОНАЛЬНАЯ НОВОСТНАЯ РАССЫЛКА (ОПЦИОНАЛЬНО)</h4>
											<label>Пол</label>
											<div class="input-group">
												<input type="radio" id="newsletter-i-am-gender-female" name="gender" value="1">
												<label for="newsletter-i-am-gender-female">Женский</label>
												&nbsp;&nbsp;&nbsp;
												<input type="radio" id="newsletter-i-am-gender-male" name="gender" value="2">
												<label for="newsletter-i-am-gender-male">Мужской</label>
											</div>
											<div class="input-group">
												<input type="checkbox" id="newsletter-i-am-kids" name="kids">
												<label for="newsletter-i-am-kids">Я также хочу узнавать новости о детских коллекциях</label>
											</div>
											<div class="input-group">
												<label for="txt-postal-code">ПОЧТОВЫЙ ИНДЕКС</label>
												<input type="text" style="width:160px" id="txt-postal-code" name="postalCode"></div>
										</div>

										<p class="newsletter-signup-privacy">
											При нажатии кнопки "Подписаться", я согласен с&nbsp;
											<a href="/ru_ru/customer-service/privacy-link.html" class="agreement-link overlay-trigger">Политика конфиденциальности</a>
											.
										</p>
										<input type="submit" value="Подписаться" data-validation-text="Эту форму не удалось отправить. Пожалуйста, проверьте указанную Вами информацию." id="newsletterSubmitButton"></form>
								</div>
							</div>

						</div>

					</article>
				</div>
				<div class="grid col-3">
					<div class="parsys right iparsys">
						<div class="iparys_inherited">
							<div class="parsys right iparsys"></div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>