
	<main role="main" class="responsive my-hm">
		<div class="wrapper">
			<nav class="breadcrumbs">
				<ul>
					<li>
						<a href="#">Yourhm.com.ua</a>
					</li>

					<li class="">

						<a href="#">Ваша учетная запись</a>
					</li>
					<li class="active">

						<a href="#" onclick="return false;">АДРЕСНАЯ КНИГА</a>
					</li>
				</ul>
			</nav>
			<script type="text/javascript">$("body").addClass("checkout-loader-layer");</script>
			<nav class="section navigation menu " role="navigation">
				<ul role="menu">
					<li class="item" role="presentation" tabindex="0">
						<a href="#" role="menuitem">Обзор</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Личные сведения</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Заказы</a>
					</li>
					<li class="current item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Адресная книга</a>
					</li>
					<li class="item" role="presentation" tabindex="-1">
						<a href="#" role="menuitem">Информация о банковском счете</a>
					</li>
				</ul>
			</nav>
			<div class="layout layout-eight ng-scope" ng-controller="MyAccountController as myAccountCtrl">
				<div class="hidden modal-content ng-hide" id="address-validation-popup">
					<div class="modal-text">
						<div class="address-validation">
							<h1 class="heading ng-binding"></h1>
							<p ng-bind-html="getContext().popupMessage" class="ng-binding"></p>
							<form class="ng-pristine ng-valid">
								<div class="address-validation-addresses">
									<div class="address-validation-un-validated">
										<h3>ВЫ УКАЗАЛИ:</h3>
										<div class="address-validation-address">
											<input type="radio" name="validation-address" value="-1" id="un-validated-address" class="ng-pristine ng-untouched ng-valid">
											<label for="un-validated-address">
												<span ng-bind-html="addresses[addressInEdit].formattedAddress" class="ng-binding"></span>
												<br>
												<a class="address-validation-edit modalclose underline ng-hide">Редактировать
												</a>
											</label>
										</div>
									</div>
									<div class="address-validation-suggestions ng-hide">
										<h3>ВЫ ИМЕЛИ В ВИДУ:</h3>
										<div class="address-validation-address-list">
										</div>
									</div>
								</div>
								<div class="buttons clearfix">
									<button class="modalclose button button-secondary ng-hide">Редактировать</button>
									<button class="modalclose button">OK</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div aria-hidden="true" id="remove-address-popup" class="hidden modal-content">
					<div class="modal-text" style="text-align:center">
						<h1 class="heading">УДАЛИТЬ АДРЕС</h1>
						<p class="text">Удалить этот адрес?</p>
						<div class="buttons clearfix">
							<button ng-click="closePopup()" class="modalclose button secondary">Отменить</button>
							<button ng-click="removeAddress()" class="modalclose button primary">OK</button>
						</div>
					</div>
				</div>
				<header class="page-header">
					<h1>АДРЕСНАЯ КНИГА</h1>
					<p>Новый адрес можно добавить на этапе оформления заказа.</p>
					<br></header>

				<div class="form-group">
					<form id="homeAddressForm" name="homeAddressForm" class="form-section new-form homeForm ng-pristine ng-valid-maxlength ng-valid ng-valid-required" novalidate="">
						<fieldset class="form-part">
							<legend class="heading">Домашний адрес</legend>

							<div class="inputwrapper required">
								<label class="label" for="checkout.line1">Строка адреса 1</label>
								<!-- ngIf: true -->
								<div class="input-field-info ng-scope ng-hide" ng-if="true">
									<span class="input-field-info-description hidden">Это поле необходимо заполнить латиницей</span>
								</div>
								<!-- end ngIf: true -->

								<input required="" type="text" data-validation-maxlength="40" data-validation-regex="^(?:\s*)[^\s“”\u0022;]+[^“”\u0022;]*(?:\s*)$" data-validation-maxlength-text="   " data-validation-required-text="Пожалуйста, укажите адрес. " data-validation-regex-text="Удалить первый пробел" id="home-line1" name="line1" maxlength="40" class="text-input field line1  ng-pristine ng-untouched ng-valid-maxlength ng-hide ng-valid ng-valid-required" autocomplete="address-line1">
								<div class="input-info ng-hide">Название улицы, номер дома, корпус, строение, номер квартиры</div>
								<span class="static ng-binding">Педагогическая</span>

							</div>

							<div class="inputwrapper optional">
								<label class="label" for="checkout.line2">Строка адреса 2</label>

								<!-- ngIf: true -->
								<div class="input-field-info ng-scope ng-hide" ng-if="true">
									<span class="input-field-info-description hidden">Это поле необходимо заполнить латиницей</span>
								</div>
								<!-- end ngIf: true -->

								<input type="text" data-validation-maxlength="40" data-validation-regex="^(?:\s*)[^\s“”\u0022;]+[^“”\u0022;]*(?:\s*)$" data-validation-maxlength-text="   " data-validation-required-text=" " data-validation-regex-text="Удалить первый пробел" id="home-line2" name="line2" maxlength="40" class="text-input field line2  ng-pristine ng-untouched ng-valid ng-valid-maxlength ng-hide" autocomplete="address-line2">
								<div class="input-info ng-hide">Этаж, домофон и т.д.</div>
								<span class="static ng-binding"></span>
							</div>

							<div class="inputwrapper required" ng-class="true ? 'required' : 'optional'">
								<label class="label" for="checkout.town">Город</label>

								<!-- ngIf: true -->
								<div class="input-field-info ng-scope ng-hide" ng-if="true">
									<span class="input-field-info-description hidden">Это поле необходимо заполнить латиницей</span>
								</div>
								<!-- end ngIf: true -->

								<input type="text" data-validation-maxlength="40" data-validation-regex="^(?:\s*)[^\d“”\u0022;]+[^\s\d“”\u0022;]+[^“”\u0022;]*(?:\s*)$" data-validation-maxlength-text="   " data-validation-required-text="Пожалуйста, укажите город. " data-validation-regex-text="Пожалуйста, укажите правильное название города" id="home-town" name="town" maxlength="40" class="text-input field town  ng-pristine ng-untouched ng-valid-maxlength ng-hide ng-valid ng-valid-required" autocomplete="address-level2">
								<div class="input-info ng-hide">город, без указания области и района</div>
								<span class="static ng-binding">Одес</span>
							</div>

							<div class="inputwrapper required">
								<label class="label" for="checkout.postalCode">Почтовый индекс</label>

								<!-- ngIf: true -->
								<div class="input-field-info ng-scope ng-hide">
									<span class="input-field-info-description hidden">Это поле необходимо заполнить латиницей</span>
								</div>
								<!-- end ngIf: true -->

								<input required="" type="text" data-validation-maxlength="10" data-validation-regex="^(?:\s*)(\d{6})(?:\s*)$" data-validation-maxlength-text="   " data-validation-required-text="Пожалуйста, укажите почтовый индекс (105064). " data-validation-regex-text="Пожалуйста, укажите правильный почтовый индекс (105064)." id="home-postalCode" name="postalCode" maxlength="10" class="text-input field postalCode to-hankaku ng-pristine ng-untouched ng-valid-maxlength ng-hide ng-valid ng-valid-required" autocomplete="postal-code">
								<div class="input-info ng-hide">Укажите Ваш почтовый индекс. Например 105064</div>
								<span class="static ng-binding">105064</span>

							</div>

							<input type="hidden" name="billingAddress" value="true" class="ng-pristine ng-untouched ng-valid">
							<div class="inputwrapper" required="">
								<label class="label" for="address-book.country">Страна</label>
								<input class="text-input field ng-hide" disabled="" value="Российская Федерация">
								<span class="static ng-binding">Российская Федерация</span>
							</div>
						</fieldset>
						<div class="no-address ng-hide">
							<h3 class="sub-heading">Домашний адрес</h3>
							<p class="text">Домашний адрес не сохранен.</p>
						</div>
						<div class="button-group">
							<!-- <button class="button ng-binding" type="button">РЕДАКТИРОВАТЬ АДРЕС</button> -->
							<button class="secondary button ng-hide" type="button">Отменить</button>
							<button class="button save-form ng-hide" type="submit">Сохранить данные</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
