<!DOCTYPE html>
<html>

<html lang="ru" class="js history rgba no-touchevents lastchild nthchild backgroundsize borderradius flexbox flexboxlegacy csstransforms csstransitions grunticon ng-scope" ng-app="hmApp" style="">
<head>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/etc/designs/hm/clientlibs/desktop/ie8.min.css" type="text/css">
  <![endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=1000px">
  <meta name="keywords">
  <meta name="description" content="Добро пожаловать в HM - Ваш интернет-источник вдохновения. Мы предлагаем стиль и качество по лучшей цене.">
  <meta property="og:title" content="Мода и хорошее качество одежды по лучшей цене - HM">
  <meta property="og:description" content="Добро пожаловать в HM - Ваш интернет-источник вдохновения. Мы предлагаем стиль и качество по лучшей цене.">
  <meta property="og:site_name" content="H&amp;M">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://yourhm.com.ua">
  <title>Мода и лучшее качество одежды по доступной цене</title>

</head>
<body>
<% if user_signed_in? %>
<%end%>
  <!-- Code to manage the mobile preview after css changes by HTML team -->
  <header class="header-global">
    <!-- Header -->
    <!--AEMPUBPRDEU29-->
    <div class="warehousemessage"></div>
    <div class="wrapper">
      <a href="index.html" title="HM.com" class="logotype hidden-text">HM.com</a>
      <div class="parbase topnav">
        <nav class="primary-menu">
          <!-- Primary menu -->
          <ul>
            <li>
              <a href="/products">Женщины</a>
              <div class="primary-menu-sub-menu">
                <div class="primary-menu-sub-menu-inner">
                  <div class="menucolumn">
                    <div class="primary-menu-categories">
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>Nowości</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/nowosci/ubrania.html">Ubrania</a>
                            </li>
                            <li>
                              <a href="/pl_pl/ona/nowosci/buty-i-dodatki.html">Buty i dodatki</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>Produkty</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/produkty/bielizna.html">Bielizna</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/buty.html">Buty</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/dodatki.html">Dodatki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/dzianiny.html">Dzianiny</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/dzinsy.html">Dżinsy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/hm.html">H&amp;M+</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/kardigany-i-swetry.html">Kardigany i swetry</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/basics.html">Kolekcja podstawowa</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/kombinezony.html">Kombinezony</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/koszule-i-bluzki.html">Koszule i bluzki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/topy.html">Koszulki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/kurtki-i-plaszcze.html">Kurtki i płaszcze</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/mama.html">Mama</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>Wybrane</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/oferty-i-polecane-produkty/officewear.html">Biurowa elegancja</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/oferty-i-polecane-produkty/seul16-hoodies.html">Trend w zbliżeniu - Swetry od 39,90 pln</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/oferty-i-polecane-produkty/h-m-studio-s-s-2017.html">H&amp;M Studio S/S 2017</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/oferty-i-polecane-produkty/perfect-basics---20--off.html">Idealna baza - 20% rabatu</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/oferty-i-polecane-produkty/club-priceitems.html">H&amp;M club - Ceny specjalne</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="menucolumn">
                    <div class="primary-menu-categories">
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/produkty/marynarki-i-kamizelki.html">Marynarki i kamizelki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/odziez-sportowa.html">Odzież sportowa</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/pizamy.html">Piżamy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/skarpetki-i-rajstopy.html">Skarpetki i rajstopy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/spodnice.html">Spódnice</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/spodnie.html">Spodnie</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/stroje-kapielowe.html">Stroje kąpielowe</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/sukienki.html">Sukienki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/szorty.html">Szorty</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/uroda.html">Uroda</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/produkty/rozmiary-plus.html">Rozmiary Plus</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">
                          <h4>H&amp;M Club</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/h-m-club/h-m-club.html">H&amp;M Club</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="menucolumn">
                    <div class="primary-menu-categories">
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>Kampanie</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/kampanie/8lj-blue-darlings.html">Blue Darlings</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8kf-season-specials.html">HITY SEZONU</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8jf-pretty-utilitarian.html">Finezyjna prostota</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8eb-bring-it-on.html">Zostaw to nam</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8fx-club-tutorial.html">H&amp;M Club</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/studio-ss2017.html">H&amp;M Studio S/S 2017</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/7vi-happyplugs-x-hm.html">Happy Plugs x H&amp;M</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8kg-shades-of-spring.html">Shades Of Spring</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8kh-new-trends-to-take-on.html">New Trends To Try</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8ki-lavish-leisure.html">Lavish Leisure</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8li-premium-essentials.html">Premium Essentials</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/kampanie/8lh-feminine-edge.html">Kobiece akcenty</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="menucolumn">
                    <div class="primary-menu-categories">
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>Działy</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/dzialy/basic.html">Basic</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/conscious.html">Conscious – ekologiczny styl</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/divided.html">Divided</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/jakosc-premium.html">Jakość Premium</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/logg.html">L.O.G.G.</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/na-wieczorne-wyjscia.html">Na wieczorne wyjścia</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/hm-sport.html">Sportswear</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/trend.html">Trend</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/wieczne-lato.html">Wieczne lato</a>
                            </li>

                            <li>
                              <a href="/pl_pl/ona/dzialy/wspolczesna-klasyka.html">Współczesna klasyka</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>Karty upominkowe</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/karty-upominkowe/gift-card.html">Karty upominkowe</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>#HM Gallery</h4>
                          <ul>
                            <li>
                              <a href="/pl_pl/ona/hmgallery/h-m-gallery.html">#HM Gallery</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /primary-menu-sub-menu-inner topnav 1 --> </div>
              <!-- primary-menu-sub-menu topnav 1 --> </li>
            <li>
              <a href="#">Мужчины</a>
              <div class="primary-menu-sub-menu">
                <div class="primary-menu-sub-menu-inner">
                  <div class="menucolumn">
                    <div class="primary-menu-categories">
                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">
                          <h4>Nowości</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/nowosci/ubrania.html">Ubrania</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/nowosci/buty-i-dodatki.html">Buty i dodatki</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Produkty</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/produkty/basics.html">Basic</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/bielizna.html">Bielizna</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/bluzy-z-kapturem-i-koszulki.html">Bluzy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/polbuty.html">Buty</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/dodatki.html">Dodatki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/dzinsy.html">Dżinsy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/kardigany-i-swetry.html">Kardigany i swetry</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/koszule.html">Koszule</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/kurtki-i-plaszcze.html">Kurtki i płaszcze</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/marynarki-i-garnitury.html">Marynarki i garnitury</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/odziez-sportowa.html">Odzież sportowa</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">

                          <ul>

                            <li>
                              <a href="/pl_pl/on/produkty/skarpetki.html">Skarpetki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/spodnie.html">Spodnie</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/stroje-kapielowe.html">Stroje kąpielowe</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/szorty.html">Szorty</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/t-shirty-i-podkoszulki.html">T-shirty i podkoszulki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/produkty/wieksze-rozmiary.html">Większe rozmiary</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">

                          <h4>Wybrane</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/oferty-i-polecane-produkty/perfect-basics---20--off.html">Idealna baza - 20% rabatu</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/oferty-i-polecane-produkty/h-m-studio-s-s-2017.html">H&amp;M Studio S/S 2017</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/oferty-i-polecane-produkty/seum40-trending-now.html">Najmodniejsze</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/oferty-i-polecane-produkty/club-priceitems.html">H&amp;M club - Ceny specjalne</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/oferty-i-polecane-produkty/spring-icons-selected-by-the-weeknd.html">Spring Icons</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/oferty-i-polecane-produkty/seum39-trousers.html">Spodnie od 79,90 pln</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/oferty-i-polecane-produkty/seum57-dressed-occasion-w12.html">Elegancja na miarę</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">

                          <h4>H&amp;M Club</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/h-m-club/h-m-club.html">H&amp;M Club</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Kampanie</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/kampanie/8df-hm-edition.html">H&amp;M Edition</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/kampanie/spring-icons-selected-by-the-weeknd.html">Spring Icons</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/kampanie/studio-ss2017.html">H&amp;M Studio S/S 2017</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/kampanie/8lf-the-baseball-cap.html">Czapka z daszkiem</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/kampanie/8lg-serious-shreddin.html">Moda mistrzów</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/kampanie/8le-style-refresh.html">Świeży styl</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/kampanie/8kc-grungy-layers.html">Grungy Layers</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Działy</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/dzialy/basic.html">Basic</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/dzialy/conscious.html">Conscious – moda przyjazna środowisku</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/dzialy/divided.html">Divided</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/dzialy/jakosc-premium.html">Jakość Premium</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/dzialy/logg.html">L.O.G.G.</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/dzialy/trend.html">Trend</a>
                            </li>

                            <li>
                              <a href="/pl_pl/on/dzialy/wspolczesna-klasyka.html">Współczesna klasyka</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Karty upominkowe</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/karty-upominkowe/gift-card.html">Karty upominkowe</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>#HM Gallery</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/on/hmgallery/h-m-gallery.html">#HM Gallery</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
                <!-- /primary-menu-sub-menu-inner topnav 2 --> </div>
              <!-- primary-menu-sub-menu topnav 2 --> </li>

            <li>
              <a href="/pl_pl/dziecko.html">Дети</a>

              <div class="primary-menu-sub-menu">
                <div class="primary-menu-sub-menu-inner">

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Nowości</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dziecko/nowosci/niemowleta.html">Niemowlęta</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/nowosci/dziewczynki.html">Dziewczynki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/nowosci/boy-news.html">Chłopcy</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Produkty</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/niemowleta-do-9-mc.html">Niemowlęta do 9 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/dziewczynki-4-24-mc.html">Dziewczynki 4-24 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/chlopcy-4-24-mc.html">Chłopcy 4-24 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/baby-exclusive.html">Baby Exclusive 0-24 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/dziewczynki-15-10-lat.html">Dziewczynki 1,5-10 lat</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/boys-size-18m-8y.html">Chłopcy 1,5-10 lat</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/dziewczynki-8-14-lat.html">Dziewczynki 8-14+ lat</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/produkty/boys-size-8-14y.html">Chłopcy 8-14+ lat</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">

                          <h4>Wybrane</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dziecko/oferty-i-polecane-produkty/perfect-basics---20--off.html">Idealna baza - 20% rabatu</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/oferty-i-polecane-produkty/baby-gift-shop.html">Sklep z prezentami dla dzieci</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/oferty-i-polecane-produkty/seuk20-spring-deal.html">Oferta online od 22,90 PLN</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/oferty-i-polecane-produkty/club-priceitems.html">H&amp;M club - Ceny specjalne</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">

                          <h4>H&amp;M Club</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dziecko/h-m-club/h-m-club.html">H&amp;M Club</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Kampanie</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8jb-studio-ss17-kids.html">H&amp;M Studio S/S 2017</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8kd-kids-spring-fashion.html">Spring Fashion</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8je-playground-cool.html">Zabawa stylem</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8hg-denim-days.html">Denim Days Kids</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8ie-essential-style.html">Bezbłędny styl</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8ke-unicorns-are-real.html">Życie to bajka</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8ll-like-a-fairy-tale.html">Jak z bajki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8gh-casual-cool.html">Luz na co dzień</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8gg-new-beginnings.html">Nowe początki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/kampanie/8lm-comfort-is-key.html">Comfort is key</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Działy</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dziecko/shop-by-concept/conscious-ekologiczny-styl.html">Conscious – ekologiczny styl</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/shop-by-concept/dzinsy.html">Denim</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/shop-by-concept/basics.html">Kolekcja podstawowa</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/shop-by-concept/cartoons_and_comics.html">Kreskówki i komiksy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dziecko/shop-by-concept/pokoj-dzieciecy.html">Pokój dziecięcy</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Karty upominkowe</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dziecko/karty-upominkowe/gift-card.html">Karty upominkowe</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
                <!-- /primary-menu-sub-menu-inner topnav 3 --> </div>
              <!-- primary-menu-sub-menu topnav 3 --> </li>

            <li>
              <a href="/pl_pl/dom.html">Для дома</a>

              <div class="primary-menu-sub-menu">
                <div class="primary-menu-sub-menu-inner">

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Nowości</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/nowosci/nowe-produkty.html">Nowości do domu</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>KUPUJ WG POMIESZCZENIA</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/kupuj-wg-pomieszczenia/kuchnia.html">Kuchnia</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/kupuj-wg-pomieszczenia/lazienka.html">Łazienka</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/kupuj-wg-pomieszczenia/pokoj-dzieciecy.html">Pokój dziecięcy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/kupuj-wg-pomieszczenia/salon.html">Salon</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/kupuj-wg-pomieszczenia/sypialnia.html">Sypialnia</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Wybrane</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/oferty-i-polecane-produkty/perfect-basics---20--off.html">Idealna baza - 20% rabatu</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/oferty-i-polecane-produkty/club-priceitems.html">H&amp;M club - Ceny specjalne</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">

                          <h4>Produkty</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/produkty/biezniki.html">Bieżniki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/dywaniki-lazienkowe.html">Dywaniki łazienkowe</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/dywany.html">Dywany</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/fartuszki.html">Fartuszki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/koce.html">Koce</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/naczynia.html">Naczynia</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/obrusy.html">Obrusy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/ozdoby.html">Ozdoby</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/poduszki.html">Poduszki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/posciel.html">Pościel</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category primary-menu-category-products">

                          <h4>H&amp;M Club</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/h-m-club/h-m-club.html">H&amp;M Club</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/produkty/przechowywanie.html">Przechowywanie</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/reczniki.html">Ręczniki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/sciereczki.html">Ściereczki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/serwetki.html">Serwetki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/swiece-i-swieczniki.html">Świece i świeczniki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/szklo.html">Szkło</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/zaslonki-prysznicowe.html">Zasłonki prysznicowe</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/zaslony.html">Zasłony</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/produkty/przybory-kuchenne.html">Przybory kuchenne</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Kampanie</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/kampanie/8ld-natural-attraction.html">Naturalny urok</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/kampanie/8kk-golden-touch.html">Sięgnij po złoto</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Działy</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/shop-by-concept/conscious.html">Conscious – ekologiczny styl</a>
                            </li>

                            <li>
                              <a href="/pl_pl/dom/shop-by-concept/premium-quality.html">Premium Quality</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>Karty upominkowe</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/karty-upominkowe/gift-card.html">Karty upominkowe</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>#HM Gallery</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/dom/hmgallery/h-m-gallery.html">#HM Gallery</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
                <!-- /primary-menu-sub-menu-inner topnav 4 --> </div>
              <!-- primary-menu-sub-menu topnav 4 --> </li>

            <li>
              <a href="/pl_pl/wyprzedaz.html">Акции</a>
              <div class="primary-menu-sub-menu">
                <div class="primary-menu-sub-menu-inner">

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>ONA</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/viewall.html">Zobacz wszystko</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/dresses.html">Sukienki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/tops.html">Topy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/shirtsblouses.html">Koszule i bluzki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/knitwear.html">Dzianiny</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/cardigansjumpers.html">Kardigany i swetry</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/jacketscoats.html">Kurtki i płaszcze</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/blazerswaistcoats.html">Marynarki i kamizelki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/basics.html">Kolekcja podstawowa</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/trousers.html">Spodnie</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/jeans.html">Dżinsy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/skirts.html">Spódnice</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/jumpsuits.html">Kombinezony</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/shorts.html">Szorty</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/lingerie.html">Bielizna</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/nightwear.html">Piżamy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/sockstights.html">Skarpetki i rajstopy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/hmsport.html">Odzież sportowa</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/swimwear.html">Stroje kąpielowe</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/hmplus.html">H&amp;M+</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/maternitywear.html">Mama</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/accessories.html">Dodatki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/shoes.html">Buty</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/uroda.html">Uroda</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/divided.html">Divided</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/ona/extended-sizes.html">Rozmiary Plus</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>ON</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/viewall.html">Zobacz wszystko</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/basics.html">Basic</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/tshirtstanks.html">T-shirty i podkoszulki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/shirts.html">Koszule</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/hoodiessweatshirts.html">Bluzy z kapturem i koszulki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/cardigansjumpers.html">Kardigany i swetry</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/blazerssuits.html">Marynarki i garnitury</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/jacketscoats.html">Kurtki i płaszcze</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/trousers.html">Spodnie</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/jeans.html">Dżinsy</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/shorts.html">Szorty</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/hmsport.html">Odzież sportowa</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/sous-vetements-et-chaussettes.html">Bielizna</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/accessories.html">Dodatki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/on/buty.html">Buty</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>DZIECKO</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/viewall.html">Zobacz wszystko</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/newborn-size0-9m.html">Niemowlęta do 9 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/babygirls-size4-24m.html">Dziewczynki 4-24 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/bebe-garcon-4-m-2-ans.html">Chłopcy 4-24 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/baby-exclusive.html">Baby Exclusive 0-24 mc</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/girls-size18m-10y.html">Dziewczynki 1,5-10 lat</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/boys-size18m-10y.html">Chłopcy 1,5-10 lat</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/girls-size8-14y.html">Dziewczynki 8-14 lat</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/dziecko/boys-size8-14y.html">Chłopcy 8-14 lat</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="menucolumn">
                    <div class="primary-menu-categories">

                      <div class="parbase navgroup section menucategory">
                        <div class="primary-menu-category ">

                          <h4>HOME</h4>

                          <ul>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/view-all.html">Zobacz wszystko</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/cushions.html">Poduszki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/bed-linen.html">Pościel</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/blankets.html">Koce</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/decorations.html">Ozdoby</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/glasswear.html">Szkło</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/kitchen-ware.html">Przybory kuchenne</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/tea-towel.html">Ściereczki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/aprons.html">Fartuszki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/towels.html">Ręczniki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/carpets.html">Dywany</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/candles-and-candleholders.html">Świece i świeczniki</a>
                            </li>

                            <li>
                              <a href="/pl_pl/wyprzedaz/home/kids.html">Dla dzieci/niemowląt</a>
                            </li>

                          </ul>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
                <!-- /primary-menu-sub-menu-inner topnav 5 --> </div>
              <!-- primary-menu-sub-menu topnav 5 --> </li>

            <li>
              <a href="/pl_pl/life.html">Блог</a>
            </li>

          </ul>
        </nav>
        <!-- /Primary Menu -->
      </div>

      <nav class="services-menu">
        <!-- Services menu -->

        <div class="linklist parbase linklist1">
          <ul class="list">

            <li class="item">
              <a class="link" href="#">Обслуживание</a>
            </li>

            <li class="item">
              <a class="link" href="#">Новостная рассылка</a>
            </li>

          </ul>
        </div>

      </nav>
      <!-- /Services menu -->
      <nav class="session-menu">
        <!-- Session menu -->

        <div class="session-menu-top-row">

          <a href="/favourites" class="js-favorite-entry-point favorite-entry-point is-favorite icon-favorites-dark icon">Избранное</a>

          <span class="parbase minicart">
            <div class="shopping-bag rollover-popdown is-loaded" data-cart="/pl_pl/minicart/view">
              <a href="/cart" class="goto-shopping-bag rollover-toggle">
                Корзина 
       (
                <span class="shoppingbag-item-counts">0</span>
                )
              </a>
              <div class="shopping-bag-rollover row popdown"></div>
            </div>
          </span>

        </div>
        <div class="signin rollover-popdown" data-target="click">
          <div class="parbase account">

            <div class="signin rollover-popdown" data-target="click">
              <div class="signin-signed-in">
                <span class="greeting-text">
                  Cześć
                  <a class="goto-signed-in" href="https://www2.hm.com/pl_pl/my-account" rel="noreferrer"></a>
                </span>
                <a class="goto-sign-in" href="https://www2.hm.com/pl_pl/logout">Wyloguj się</a>
              </div>
              <div class="signin-not-signed-in">

                <a id="hmClubAccountNotSignedInDynamicLink" rel="noreferrer" href="/pl_pl/hmclub.guest.html">Личный кабинет</a>

                <a href="#" class="goto-sign-in rollover-toggle" onclick="trackLinkAccountHeader()">Вход/Регистрация</a>
                <div class="signin-rollover popdown row">
                  <div class="inner">
                    <div class="signin-rollover-login">
                      <form class="responsive form-section ng-pristine ng-valid" action="https://www2.hm.com/pl_pl/j_spring_security_check" onsubmit="trackSubmitLogin()" method="POST">
                        <h3>Войти</h3>

                        <div class="input-group">
                          <label for="txt-signin-rollover-email">Имя пользователя</label>
                          <input name="j_username" type="email" placeholder="" id="txt-signin-rollover-email" data-validation-required-text="Musisz podać adres e-mail." data-validation-required="true"></div>
                        <div class="input-group">
                          <label for="txt-signin-rollover-password">Пароль:</label>
                          <input name="j_password" type="password" id="txt-signin-rollover-password" data-validation-required-text="Musisz podać hasło." data-validation-required="true" data-validation-minlength="6" data-validation-minlength-text="Hasło musi się składać z co najmniej 6 znaków." data-validation-maxlength="25" data-validation-maxlength-text="Hasło może się składać z maksymalnie 25 znaków."></div>

                        <div class="input-group">
                          <input type="submit" class="button-big" value="Войти" data-validation-text="Nie można przesłać formularza. Sprawdź poprawność danych." data-validation-required="true">
                          <p>
                            <a href="https://www2.hm.com/pl_pl/password/requestSignIn" class="underline">Забыли пароль?</a>
                          </p>
                        </div>
                        <div class="input-group join">
                          <input type="button" class="large fluid secondary button" value="Регистрация" onclick="trackClickButtonCreateNewAccount()"></div>
                      </form>
                    </div>
                    <div class="signin-rollover-join">
                      <section class="responsive create-account popdown-form">
                        <form action="https://www2.hm.com/pl_pl/register/newcustomer" onsubmit="trackSubmitJoin()" method="POST" class="responsive form-section ng-pristine ng-valid">
                          <fieldset class="form-part">
                            <legend class="heading">Зарегистрироваться</legend>
                            <div class="inputwrapper">
                              <label class="form-label" for="txt-signin-rollover-join-email">E-mail:</label>
                              <input type="email" class="email-input" name="email" id="txt-signin-rollover-join-email" value="" data-validation-email="true" data-validation-required="true" data-validation-required-text="Musisz podać adres e-mail."></div>
                            <div class="inputwrapper">
                              <label class="form-label" for="txt-signin-rollover-join-password">Пароль:</label>
                              <input type="password" name="pwd" id="txt-signin-rollover-join-password" class="password-input" data-validation-required="true" data-validation-required-text="Musisz potwierdzić hasło." data-validation-minlength="6" data-validation-minlength-text="Hasło musi się składać z co najmniej 6 znaków." data-validation-maxlength="25" data-validation-maxlength-text="Hasło może się składać z maksymalnie 25 znaków." data-validation-nospaces="true" data-validation-nospaces-text="Hasło nie może zawierać spacji"></div>
                            <div class="inputwrapper">
                              <label class="form-label" for="txt-signin-rollover-join-password-confirm">Подтвердите пароль:</label>
                              <input type="password" id="txt-signin-rollover-join-password-confirm" name="checkPwd" class="password-input" data-validation-required="true" data-validation-required-text="Musisz potwierdzić hasło." data-validation-confirm-id="txt-signin-rollover-join-password" data-validation-confirm-text="Hasło i ponownie wpisane hasło nie są takie same."></div>
                          </fieldset>

                          <fieldset class="form-part">
                            <div class="button-group">
                              <button type="submit" class="button large" data-validation-text="Nie można przesłać formularza. Sprawdź poprawność danych.">Зарегистрироваться</button>
                              <button type="button" class="big secondary button large" onclick="trackClickButtonBack()">Вернуться ко входу</button>
                            </div>
                          </fieldset>
                        </form>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="country-info">
          <div class="countrylanguage parbase">

            <div class="country-info">
              <a class="country-name overlay-trigger " data-layout="confirm" data-modal-scrollup="false" href="javascript:void(0)">Украина</a>
            </div>
          </div>
        </div>

      </nav>
      <!-- /Session menu -->
      <div class="autosuggestsearch parbase">
        <div id="search-field" class="ui-widget">

          <form method="get" action="/search" class="ng-pristine ng-valid">
            <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            <input id="main-search" data-url="" type="text" data-test="false" name="search" placeholder="Поиск" minlength="3" maxlength="200" data-autocomplete-disabled="false" class="ui-autocomplete-input" autocorrect="off" spellcheck="false" autocomplete="off"></form>
          <span class="magnify"></span>
          <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-1" tabindex="0" style="display: none;"></ul>
        </div>

      </div>

      

    </div>
  </header>
  <!-- /Header -->
  <!-- HeaderLife -->





<%= yield %>



 <footer class="footer-global responsive">
    <!-- Footer -->

    <!-- Global Include Footer LaTime /content/hmonline/pl_pl/index : Fri Mar 17 13:30:42 CET 2017  -->

    <div class="layout">
      <div class="four modules footer-menu footer-content">
        <nav class="footer-category">
          <h4 class="footer-heading js-toggle-trigger">КУПИТЬ</h4>
          <ul class="list">

            <li class="item">
              <a class="link" href="/products">Женщины</a>
            </li>

            <li class="item">
              <a class="link" href="#">Мужчины</a>
            </li>

            <li class="item">
              <a class="link" href="#">Дети</a>
            </li>

            <li class="item">
              <a class="link" href="#">Товары для дома</a>
            </li>

          </ul>

        </nav>

        <nav class="footer-category">
          <h4 class="footer-heading js-toggle-trigger">О НАС</h4>
          <ul class="list">

            <li class="item">
              <a class="link" href="#" target="_blank">О компании</a>
            </li>

            <li class="item">
              <a class="link" href="#" target="_blank">Оплата и доставка</a>
            </li>

            <li class="item">
              <a class="link" href="#" target="_blank">Частые вопросы</a>
            </li>
          </ul>
        </nav>

        <nav class="footer-category">
          <h4 class="footer-heading js-toggle-trigger">ПОМОЩЬ</h4>
          <ul class="list">

            <li class="item">
              <a class="link" href="#">Условия использования сайта</a>
            </li>

            <li class="item">
              <a class="link" href="#">Мой кабинет</a>
            </li>

            <li class="item">
              <a class="link" href="#">Контакты</a>
            </li>

            <li class="item">
              <a class="link" href="">Karty upominkowe</a>
            </li>

          </ul>

        </nav>

        <section class="footer-newsletter">

          <div class="newsletter parbase newslettersignupform">
            <h4 class="footer-heading">Подпишитесь на рассылку</h4>
            <p class="text"></p>
            <a href="#" class="button">Присоединяйтесь к нам</a>
          </div>

        </section>
      </div>

      <ul class="footer-social footer-content">

        <li class="item">
          <a href="#" target="_blank" title="Facebook" class="hidden-text icon icon-social-facebook-white">Facebook</a>
        </li>

        <li class="item">
          <a href="#" target="_blank" title="Twitter" class="hidden-text icon icon-social-twitter-white">Twitter</a>
        </li>

        <li class="item">
          <a href="#" target="_blank" title="Instagram" class="hidden-text icon icon-social-instagram-white">Instagram</a>
        </li>

        <li class="item">
          <a href="#" title="Youtube" target="_blank" class="hidden-text icon icon-social-youtube-white">Youtube</a>
        </li>

        <li class="item">
          <a href="#" title="Google +" target="_blank" class="hidden-text icon icon-social-googleplus-white">Google +</a>
        </li>

        <li class="item">
          <a href="#" target="_blank" title="Pinterest" class="hidden-text icon icon-social-pinterest-white">Pinterest</a>
        </li>

      </ul>


      <a href="#" class="footer-logotype icon icon-hm-white hidden-text">H&amp;M</a>
    </div>

  </footer>


</body>
</html>
